<%= @title %>
<form action="age" method="post">
	<input type="text" name="age">
	<input type="hidden" name="name" value=<%= @user_name %>>
	<input type="hidden" name="location" value=<%= @user_location%>>
	<input type="hidden" name="numbers" value=<%= @user_numbers%>>
</form>